<div class="row">
    <div class="col-xs-6">
     <table class="table">
      <thead>
       <tr>
        <th><h3><%= link_to "記事一覧", admins_apps_path %></h3></th>
       </tr>
       <tr>
        <th><h3><%= link_to "記事投稿", new_admins_app_path %></h3></th>
       </tr>
      </thead>
     </table>
    </div>

    <div class="col-xs-6">
     <table>
      <thead>
       <tr>
        <th><h3><%= link_to "お問い合わせ一覧", admins_contacts_path %></h3></th>
        </tr>
      </thead>
     </table>
    </div>

 </div>