<div class="row">
    <div class="col-xs-8">
        <% @comments.each do |comment|%>
        <%= link_to admins_commentcheck_path(comment)do%>
        <p><%= comment.comment%></p>
        <p><%= comment.updated_at.strftime("%Y-%m-%d %H:%M") %></p>
        <% end %>
        <% end %>
    </div>
</div>