<style>
table{
    width:600px;
    table-layout: fixed;
}

table tr,td{
    overflow-wrap: break-word;
    word-wrap: break-word;
}
</style>

<div class="row" style="padding-left: 30%" >
    <table>
    <tbody>
        <tr>
        <td>・タイトル<br><%= @contacts.title %></td>
        </tr>
        <tr>
        <td>・メール<br><%= @contacts.mail %></td>
        </tr>
        <tr>
        <td>・内容<br><%= @contacts.body %>
        </td>
        </tr>
    </tbody>
    </table>
        <br>
        <div class="contact-botan" style="margin-bottom: 50px;">
        <%= link_to 'お問い合わせを削除する', admins_contact_path(@contacts), method: :delete, data: { confirm: '本当に消しますか？' } %>
        </div>
</div>