<div class="container">
    <div class="row">
        <div class="col-xs-8">
            <h1>Comment</h1>
                <p>無名のおすすめアプリを紹介しているサイトへようこそ！</p>
                <p>日々、アプリを使用しながら生活している皆様へ</p>
                <p>let's app life~ ( ・∇・)</p>
            <h1>Profile</h1>
                <p>性別：男</p>
                <p>年齢：２０代</p>
                <p>在住：東京</p>
                <p>エンジニア１年生です！ウェブサイト作成しました＼＼\\٩( 'ω' )و //／／</p>
        </div>
    </div>
</div>