<div class="container">
    <div class="row">
        <div class="col-md-6">

         <p><%= @app.title%></p>
        <% unless @app.body.nil? %>
         <p><%= markdown(@app.body).html_safe %></p>
        <% else %>
         <p>記事の内容が記載されていません。</p>
        <% end %>
        </div>
    </div>
</div>